header{
    font-size: 1.2em;
    width: 100%;
    top: 0;
    height: 80px;
    background-color:cornflowerblue;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}


.addBtn{
    position: absolute;
    top: 3%;
    right: 12px;
    z-index: 3;
}

.stars{
    margin-right: 200px;
}

.title { 
    color: white; 
    font-size: 30px; 
    font-weight: bold; 
    margin: 10px; 
    text-shadow: 0 1px 1px rgb(255, 255, 255); 
}

.cardTitle{
    height: 70px;
}

.list{
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin: 1%;
    z-index: 1;
}

.searchBar{
    color: #6b6b6b ;
    width: 300px !important;
    border-radius: 15px ;
    font-size: 0.7em ;
    padding: 1%;
    margin: 1%;
    height: 30px;
}

.movieList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
}

.movieCard{
    margin: 1%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
}

.desc{
    height: 50px;
    overflow: hidden;
}

footer{
    font-weight: 200;
    font-size: 0.8em;
    border-top: 1px solid #eef2f2;
    text-align: center;
    background-color: cornflowerblue;
}
ul{
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    justify-content: space-between;
    padding: 15px;
    color:white;
}


